{{ form_start(callRequestForm) }}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="call_request_fname">Pr&eacute;nom</label>
            {{ form_row(callRequestForm.fname, {
                'attr': {
                    'class': 'form-control'
                }
                })
            }}
        </div>
        <div class="form-group col-md-6">
            <label for="call_request_name">Nom</label>
            {{ form_row(callRequestForm.name, {
                'attr': {
                    'class': 'form-control'
                }
            })
            }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="call_request_country">Pays</label>
            {{ form_row(callRequestForm.country, {
                'attr': {
                    'class': 'form-control'
                }
            })
            }}
        </div>
        <div class="form-group col-md-12">
            <label for="phoneNumber">Num&eacute;ro de t&eacute;l&eacute;phone</label>
            {{ form_row(callRequestForm.phoneNumber, {
                'attr': {
                    'class': 'form-control'
                }
            })
            }}
        </div>
        <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary">Appellez moi</button>
        </div>
    </div>

{{ form_end(callRequestForm) }}