{{ form_start(callRequestForm) }}

    {% if form_errors(callRequestForm.fname) != null  %}
        <div class="alert alert-danger">
            {{ form_errors(callRequestForm.fname) }}
        </div>
    {% endif %}
    {% if form_errors(callRequestForm.name) != null  %}
        <div class="alert alert-danger">
            {{ form_errors(callRequestForm.name) }}
        </div>
    {% endif %}
    {% if form_errors(callRequestForm.country) != null  %}
        <div class="alert alert-danger">
            {{ form_errors(callRequestForm.country) }}
        </div>
    {% endif %}
    {% if form_errors(callRequestForm.phoneNumber) != null  %}
        <div class="alert alert-danger">
            {{ form_errors(callRequestForm.phoneNumber) }}
        </div>
    {% endif %}


    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="call_request_fname">Pr&eacute;nom</label>

            {{ form_widget(callRequestForm.fname, {
                'attr': {
                    'class': 'form-control'
                }
                })
            }}
        </div>
        <div class="form-group col-md-6">
            <label for="call_request_name">Nom</label>
            {{ form_widget(callRequestForm.name, {
                'attr': {
                    'class': 'form-control'
                }
            })
            }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="call_request_country">Pays</label>
            {{ form_widget(callRequestForm.country, {
                'attr': {
                    'class': 'form-control'
                }
            })
            }}
        </div>
        <div class="form-group col-md-12">
            <label for="phoneNumber">Num&eacute;ro de t&eacute;l&eacute;phone</label>
            {{ form_widget(callRequestForm.phoneNumber, {
                'attr': {
                    'class': 'form-control'
                }
            })
            }}
        </div>
        <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary">Appellez moi</button>
        </div>
    </div>

{{ form_end(callRequestForm) }}