{{ form_start(callRequestForm) }}

    {% if form_errors(callRequestForm.fname) != null  %}
        <div class="alert alert-danger">
            {{ form_errors(callRequestForm.fname) }}
        </div>
    {% endif %}
    {% if form_errors(callRequestForm.name) != null  %}
        <div class="alert alert-danger">
            {{ form_errors(callRequestForm.name) }}
        </div>
    {% endif %}
    {% if form_errors(callRequestForm.country) != null  %}
        <div class="alert alert-danger">
            {{ form_errors(callRequestForm.country) }}
        </div>
    {% endif %}
    {% if form_errors(callRequestForm.phoneNumber) != null  %}
        <div class="alert alert-danger">
            {{ form_errors(callRequestForm.phoneNumber) }}
        </div>
    {% endif %}


    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="call_request_fname">{{ 'form.cbr.fname' | trans }}</label>

            {{ form_widget(callRequestForm.fname, {
                'attr': {
                    'class': 'form-control'
                }
                })
            }}
        </div>
        <div class="form-group col-md-6">
            <label for="call_request_name">{{ 'form.cbr.name' | trans }}</label>
            {{ form_widget(callRequestForm.name, {
                'attr': {
                    'class': 'form-control'
                }
            })
            }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="call_request_country">{{ 'form.cbr.country' | trans }}</label>
            {{ form_widget(callRequestForm.country, {
                'attr': {
                    'class': 'form-control'
                }
            })
            }}
        </div>
        <div class="form-group col-md-12">
            <label for="call_request_phoneNumber">{{ 'form.cbr.phone' | trans }}</label>
            {{ form_widget(callRequestForm.phoneNumber, {
                'attr': {
                    'class': 'form-control',

                }
            })
            }}
        </div>
        <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary" id="submit">
            <span class="spinner-border spinner-border-sm hidden" role="status" aria-hidden="true" id="spinner"></span>
            <span>{{ 'form.cbr.sendbtn' | trans }}</span>
        </button>
            <span id="msg-error" class="msg-error hidden">Le num&eacute;ro de t&eacute;l&eacute;phone est invalide !</span>
        </div>
    </div>
    <div id="cache" class="hidden"></div>

{{ form_end(callRequestForm) }}