{% extends 'base.html.twig' %}

{% block title %}Listing | {{ parent() }}{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">PRENOM</th>
                <th scope="col">NOM</th>
                <th scope="col">PAYS</th>
                <th scope="col">NUMERO NATIONAL</th>
                <th scope="col">NUMERO INTERNATIONAL</th>
            </tr>
            </thead>
            <tbody>
            {%  for request in callrequests %}
            <tr>
                <th scope="row">{{ request.id }}</th>
                <td>{{ request.fname }}</td>
                <td>{{ request.name }}</td>
                <td>{{ request.country }}</td>
                <td>{{ request.national }}</td>
                <td>{{ request.international }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(callrequests) }}
    </div>
{% endblock %}
